apiVersion: v1
kind: Secret
metadata:
  name: harness-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "endpoint": "https://app.harness.io/gateway",
      "account_id": "FILL ME IN",
      "platform_api_key": "FILL ME IN"
    }
